<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>

  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 1100px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }

    .nav-item.dropdown {
      background-color: #222831;

    }

    .nav-item.dropdown:hover {
      background-color: #393e46;
    }

    .extra-padding.h2 {
      padding-left: 50%;
    }

    .extra-padding.nav-item {
      padding-left: 20%;
      font-size: 30px;
    }


    a {
      color: white;
    }

    a:hover {
      color: white;
    }

    .sidebar {
      background-color: #393e46;
    }

    .list-heading {
      color: white;
    }

    .home-btn {
      background-color: #393e46;
      border: none;
    }
    .table{
      font-size: 1.5rem;
    }


    .container-padding-top {
      padding-top: 40px;

    }
  </style>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="nav-link" href="/create-playlists">Geo-Playlists</a>

    <div class="container d-flex flex-column flex-md-row justify-content-between">

      <a class="nav-link" href="/browse-map">Browse Map</a>
      <a class="nav-link" href="/set-location">Set Location</a>
      <a class="nav-link" href="/">Sign out</a>
    </div>
  </nav>

  <div class="container-fluid container-padding-top">

    <div class="row">
      <nav class="col-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item nav-justified extra-padding list-heading">
              My Playlists
            </li>
            <ul class="nav nav-pills nav-justified">
              <%  playlists.forEach(function(playlist){ %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" aria-orientation="vertical">
                  <%=playlist%>
                </a>
                <div class="dropdown-menu">

                  <%  songs.forEach(function(song){ %>

                  <a class="dropdown-item" href="#">
                    <%=song%>
                  </a>

                  <% }) %>
              </li>
              <% }) %>

            </ul>
          </ul>

        </div>
      </nav>


      <div id="map" class="col-8">

        <table class="table">
          <tbody>
            <%  songs.forEach(function(song){ %>
            <tr>
              <td><a class="dropdown-item" href="#">
                  <%=song%>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

      </div>

      <nav class="col-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item nav-justified extra-padding list-heading">
              Global Playlists
            </li>
            <ul class="nav nav-pills nav-justified">
              <%  playlists.forEach(function(playlist){ %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" aria-orientation="vertical">
                  <%=playlist%>
                </a>
                <div class="dropdown-menu">

                  <%  songs.forEach(function(song){ %>

                  <a class="dropdown-item" href="#">
                    <%=song%>
                  </a>

                  <% }) %>
              </li>
              <% }) %>

            </ul>
          </ul>

        </div>
      </nav>
    </div>

  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
