<table class="table">
  <tbody>
    <%  playlists[0].song.forEach(function(song){ %>
    <tr>
      <td><a class="dropdown-item" href="#">
          <%=song%>
        </a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>


$(document).ready(function() {
  let playlists = <%- JSON.stringify(playlists, null, 2) %>;
    // let tableContent= <%- JSON.stringify(playlists, null, 2) %>;





  $('.nav-item,.dropdown').on('click', function(event) {
    // update the centerCoordinates


    const name = event.target.name;
    const matchingPlaylist = playlists.find(playlist => playlist.name === name);


    return






  });
});



<script>
  $(document).ready(function() {
    let playlists = <%- JSON.stringify(playlists, null, 2) %>;
      // let tableContent= <%- JSON.stringify(playlists, null, 2) %>;





    $('.nav-item,.dropdown').on('click', function(event) {
      // update the centerCoordinates


      const name = event.target.name;
      const matchingPlaylist = playlists.find(playlist => playlist.name === name);


      return






    });
  });
</script>
